<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="beautician.com.sapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">


        <activity android:name=".Activity.SupportActivity"
            android:parentActivityName=".Activity.HomeActivity"
            android:label="Give Feedback"></activity>

        <provider
            android:name=".Utils.GenericFileProvider"
            android:authorities="beautician.com.sapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAfTnMETsCDM_RlvvZTU2jH1qnObvGjPMA" />

        <activity
            android:name=".Activity.ChooseLanguageActivity"
            android:label="Choose Language"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignupActivity"
            android:parentActivityName=".Activity.Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SPHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Categories"
            android:parentActivityName=".Activity.SPHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PostActivity"
            android:parentActivityName=".Activity.SpRequestHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Subcategories"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SPProfile"
            android:parentActivityName=".Activity.SPHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Manageservice"
            android:parentActivityName=".Activity.SPHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RequestSubcategories"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchShop"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchShopList"
            android:parentActivityName=".Activity.SearchShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CategoriesRequest"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CheckPost"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.SpProposal"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.Wallet"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.Offer_creation"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.OfferSet"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.PropsalView"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.IndividualRequest"
            android:theme="@style/NoActionUser" />
        <activity android:name=".Activity.MapActivity" />
        <activity
            android:name=".Activity.SpRequestHome"
            android:parentActivityName=".Activity.SPHome" />
        <activity
            android:name=".Activity.CheckIndividualPost"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.SubCategoryEditActivity"
            android:parentActivityName=".Activity.MySubcategories" /> <!-- Firebase Notifications -->
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity android:name=".Activity.GiveCommentActivity" />
        <activity
            android:name=".Activity.ShopDetails"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.MyserviceList"
            android:parentActivityName=".Activity.Manageservice"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.MySubcategories" />
        <activity
            android:name=".Activity.UserDetails"
            android:theme="@style/NoActionUser" />
        <activity
            android:name=".Activity.ForgotPassword"
            android:parentActivityName=".Activity.Login_Activity" />
        <activity
            android:name=".Activity.USerRequestHome"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity android:name=".Activity.PaymentConfirmation" />
        <activity android:name=".Activity.CountryList" />
        <activity android:name=".Activity.MapLocation" />
        <activity android:name=".Activity.RejectOption" />
    </application>

</manifest>